asgiref
asn1crypto
dj-database-url
Django
django-autoslug
django-ckeditor
django-heroku
django-jet-reboot
django-js-asset
django-tinymce
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
future
gunicorn
idna
lxml
oscrypto
Pillow
psycopg2
pycparser
PyJWT
pytz
pytz-deprecation-shim
PyYAML
six
sqlparse
tinycss2
tzdata
uritools
urllib3
webencodings
whitenoise
