<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>

      
      {% comment %} <h1>Titre: {{ chapitre.title }}</h2>
        <h3>Description {{ chapitre.description }}</h3> {% endcomment %}
        <h3>theme {{ theme.title }}</h3>
        <h3>Categorie {{ theme.categorie }}</h3>
        <h4>{{ theme.date }}</h4>
        <img src="{{ theme.miniature.url }} " width='300'>
        
        <h1>Contenue:</h1>
            {{ theme.description | safe }}
        <p>Prix: {{ theme.prix }}</p>
        <p>niveau: {{ theme.niveau }}</p>
        {{ theme.slug }}
        
        
        
        <a href="../theme/{{ theme.slug }}"> Accéder au cours</a>
        <hr/>
        
  </center>





</body>
</html>