{% load static %}
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="favicon.png">

   
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;family=Lora:wght@400;700&amp;family=Montserrat:wght@400;500;600;700&amp;family=Nunito:wght@400;700&amp;display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'cours/assets/fonts/fontawesome/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/aos/dist/aos.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/choices.js/public/assets/styles/choices.min.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/flickity-fade/flickity-fade.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/flickity/dist/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/highlightjs/styles/vs2015.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/jarallax/dist/jarallax.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/libs/quill/dist/quill.core.css' %}" />
 
    
 

    <link rel="stylesheet" href="{% static 'cours/assets/css/theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'cours/assets/css/loader.css' %}" />
   

    <title>Leçon</title>

</head>
<body class="p bg-white" >
    

   
   

    {% if request.user.profil.Etudiant.bio == "" %}
    {% include 'cours/header.html' %}
    {% include 'cours/noprofil.html' %}
    
    {% else %}
    {% include 'cours/loader.html' %}
    
    {% for lesson in lessons %}

    <header class="bg-white border-bottom py-3 header-fixed" >
        <div class="px-5 px-lg-8 w-100">
            <div class="d-md-flex align-items-center">
                <!-- Brand -->
                <a class="navbar-brand mb-2 mb-md-0" href="{% url 'home' %}">
                    <h2 style="font-weight: 900;">Pg</h2>
                </a>

               
                <div class="ms-md-6 ms-wd-12 ms-xl-10 me-auto mb-5 mb-md-0">
                    <h3 class="mb-0 line-clamp-2 ms-wd-3"> Theme: {{ theme.title }}</h3>
                </div>

                
                <a href="{% url 'themedetail' theme.slug %}" class="btn btn-sm btn-primary ms-md-6 px-6 mb-3 mb-md-0 flex-shrink-0">Retour</a>
            </div>
        </div>
    </header>


  

    
    <div class="mt-15 mt-md-11 pt-md-3">
     

      <div class="container">
          <div class="row mb-11">
              <div class="col-lg-11 col-wd-12 ms-lg-auto pt-11 pt-lg-8">
                  <h2 class="font-size-xl mb-6">
                      Leçon: {{ lesson.title }}
                  </h2>

                  <video src="{{ lesson.video.url }}" class="img-fluid" controls ></video>

                  <h3 class="">Description</h3>

                  {{lesson.description | safe}}
!
                  <div class="d-md-flex align-items-center justify-content-between mb-8">

                     {% if lessons.has_previous %}
                     <a href="?{{ cours }}={{ lessons.previous_page_number }}" class="btn btn-teal d-flex align-items-center text-white mb-5 mb-md-0 btn-block mw-md-280p justify-content-center">
                      <i class="fas fa-arrow-left font-size-xs"></i>
                      <span class="ms-3">Cours précédent</span>
                     </a>
                     {% endif %}

                     {% if lessons.has_previous == False %}
                     <a href="?{{ cours }}=1" class="btn btn-teal d-flex align-items-center text-white mb-5 mb-md-0 btn-block mw-md-280p justify-content-center">
                      <i class="fas fa-stop-circle font-size-xs"></i>
                      <span class="ms-3">Pas de cours précédent</span>
                     </a>
                     {% endif %}
                     
                      
                      

                      Page {{ lessons.number }} / {{ lessons.paginator.num_pages }}
                       
                      {% if lessons.has_next %}
                      <a href="?{{ cours }}={{ lessons.next_page_number }}" class="btn btn-teal d-flex align-items-center text-white btn-block mw-md-280p justify-content-center mt-0">
                          <span class="me-3">Cours suivant</span>
                          <i class="fas fa-arrow-right font-size-xs"></i>
                      </a>
                      {% endif %}
                      
                      
                      
                      
                  </div>

                  

                  
                  </div>
              </div>
          </div>
      </div>
  </div>
    
    {% endfor %}

  
  <script src="{% static 'cours/assets/js/loader.js' %}"></script>
  <script src="{% static 'cours/assets/libs/jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/aos/dist/aos.js' %}"></script>
      <script src="{% static 'cours/assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/countup.js/dist/countUp.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/flickity/dist/flickity.pkgd.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/flickity-fade/flickity-fade.js' %}"></script>
      <script src="{% static 'cours/assets/libs/highlightjs/highlight.pack.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/jarallax/dist/jarallax.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/jarallax/dist/jarallax-video.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/jarallax/dist/jarallax-element.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/parallax-js/dist/parallax.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/quill/dist/quill.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/smooth-scroll/dist/smooth-scroll.min.js' %}"></script>
      <script src="{% static 'cours/assets/libs/typed.js/lib/typed.min.js' %}"></script>

     

      <!-- Theme JS -->
      <script src="{% static 'cours/assets/js/theme.min.js' %}"></script>

    
    {% endif %}
 
      


</body>

<!-- Mirrored from transvelo.github.io/skola-html/5.1/lesson-single-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jan 2022 12:13:07 GMT -->
</html>
