<header class="py-8" style="background-image: none;">
    

    
</header>
 
      

<center style="width: 100% !important; display:flex; align-items:center; justify-content:center; padding: 0 10px;">
    <div class="sam" style="text-align: center; width: 500px; color: white !important; background: #06054d; padding: 20px; border-radius: 4px;">

        <h2 style='text-align: center; color: white !important; font: 900 !important;'> Salutation <b style="color:#06054d; background-color: white; padding: 6px; border-radius: 8px;"> {{ user.username }} !</b> Vous ne pouvez pas avoir accès aux cours sans compléter profil.<br> 🤗</h2>
        <p><a href="{% url 'etudiant' %}"  class="btn btn-white">Compléter profil</a></p>
    </div>
</center>